<script type="text/javascript">
$(function () {
    var tagsAsString;

    function loadSelect2(allTags) {
        $("#{{ widget_id }}").select2({
            createSearchChoice: function() { return null; },
            tags: allTags,
            placeholder: '{{ start_text }}',
            // minimumInputLength: 3,
            tokenSeparators: [',', ]
        });
    }

    $.get('{{ url }}', function (data) {
        loadSelect2(data);
    });

    $('#{{ result_id }}').parents().find('form').submit(function (){
        var tagList = $("#{{ widget_id }}").select2('val');
        tagsAsString = tagList.join(", ");
        $("#{{ result_id }}").val(tagsAsString);
        $("#{{ widget_id }}").val(tagsAsString);
    });
});
</script>